# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Git
.git/
.gitignore

# IDE files
.vscode/
.idea/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/
*.egg-info/

